## Series

In [3]:
import pandas as pd
import numpy as np

data_list = [1,2,3]
data_label = ['ahmad', 'budi', 'candra']

#MEMBUAT SERIES dari List
data_series1 = pd.Series(data=data_list,index=data_label)
data_series1

ahmad     1
budi      2
candra    3
dtype: int64

In [4]:
#MEMBUAT SERIES dari Dictionary
data_dict = {'ahmad':1, 'budi':2, 'candra':3}
data_series2 = pd.Series(data=data_dict)
data_series2

ahmad     1
budi      2
candra    3
dtype: int64

In [17]:
#MEMBUAT SERIES dari Array
data_array = np.array(data_list)
data_array
data_series3 = pd.Series(data=data_array,index=data_label)
data_series3

ahmad     1
budi      2
candra    3
dtype: int32

In [18]:
#MERUBAH SERIES KE DATAFRAME

data_frame = data_series3.to_frame()
data_frame

        0
ahmad   1
budi    2
candra  3

In [21]:
#MENJUMLAHKAN SERIES
data1 = [10,20,30,40,50]
data2 = [5,10,15]

d1 = pd.Series(data=data1)
d2 = pd.Series(data=data2)
d1-d2

0     5.0
1    10.0
2    15.0
3     NaN
4     NaN
dtype: float64

## Dataframe

In [29]:
np.random.seed(100) #agar menghasilkan bilangan random yang sama

In [30]:
#MEMBUAT dataframe

angka = pd.DataFrame(np.random.randn(3,5),['data_1','data_2','data_3'],['A','B','C','D','E'])

In [31]:
angka

               A         B         C         D         E
data_1 -1.749765  0.342680  1.153036 -0.252436  0.981321
data_2  0.514219  0.221180 -1.070043 -0.189496  0.255001
data_3 -0.458027  0.435163 -0.583595  0.816847  0.672721

In [32]:
angka['B']

data_1    0.342680
data_2    0.221180
data_3    0.435163
Name: B, dtype: float64

In [38]:
#MENGHAPUS BARIS
#inplace berguna agar dataframe langsung hilang, tidak perlu reassignment
#axis = 1 ==> kolom | axis = 0 ==> baris
angka.drop('data_2',axis=0,inplace=True)

KeyError: "['data_2'] not found in axis"

In [39]:
angka

               A         B         C         D         E
data_1 -1.749765  0.342680  1.153036 -0.252436  0.981321
data_3 -0.458027  0.435163 -0.583595  0.816847  0.672721