In [1]:
import numpy as np

# Membuat N Dimensional Array (ndarray)

In [8]:
# Membuat array dari list/tuple
list1 = [1,2,3,4,5]
tup1 = (4,5,6)
arr1 = np.array(list1)
arr2 = np.array(tup1)

In [10]:
arr1

array([1, 2, 3, 4, 5])

In [15]:
#membuat array dari list of list
list2 = [[1,2,3],[4,5,6],[7,8,9]]
arr3 = np.array(list2)
arr3

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [16]:
# membuat array dengan arange
arr4 = np.arange(10)
arr4

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [17]:
np.arange(1,11)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [18]:
np.arange(1,21,4)

array([ 1,  5,  9, 13, 17])

In [20]:
# membuat array zero -> isi () dengan tuple
np.zeros(5)

array([0., 0., 0., 0., 0.])

In [22]:
arr5 = np.zeros((3,3))
arr5

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [23]:
# membuat array one
np.ones(3)

array([1., 1., 1.])

In [24]:
np.ones((2,3))

array([[1., 1., 1.],
       [1., 1., 1.]])

In [25]:
# membuat matriks identitas
iden = np.eye(3)
iden

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

#### Generate Array dengan linspace dan random

In [120]:
#membuat array 1 dimensi dengan linspace
arr6 = np.linspace(2,6,10)
arr6

array([2.        , 2.44444444, 2.88888889, 3.33333333, 3.77777778,
       4.22222222, 4.66666667, 5.11111111, 5.55555556, 6.        ])

In [123]:
#membuat array dengan distribusi uniform (angka acak 0-1)
arr7 = np.random.rand(3,3)
arr7

array([[0.05622412, 0.48457443, 0.24454375],
       [0.17927045, 0.90330163, 0.55227331],
       [0.65857333, 0.54061294, 0.02971619]])

In [124]:
#membuat array dengan distribusi normal (angka acak -inft to inft)
arr8 = np.random.randn(3,3)
arr8

array([[ 0.50376146, -0.47112205, -1.16784821],
       [-0.78042635,  0.10230908,  0.0612089 ],
       [ 0.14700741,  0.36251187,  0.76651784]])

In [126]:
#bisa juga di import terlebih dahulu
from numpy.random import randn, randint

In [130]:
arr9 = randint(-2,10,9)
arr9

array([6, 1, 1, 0, 5, 5, 9, 4, 1])

In [135]:
#merubah ukuran array (pastikan ukuran sama)
arr10 = arr9.reshape(3,3)

#method reshape harus didefinisikan supaya tersimpan

In [134]:
arr10

array([[6, 1, 1],
       [0, 5, 5],
       [9, 4, 1]])

### mengetahui type data, ukuran suatu array

In [26]:
# mengetahui ukuran array
arr4.shape

(10,)

In [27]:
arr3.shape

(3, 3)

In [28]:
#mengetahui type
arr4.dtype

dtype('int32')

In [31]:
arr5.dtype

dtype('float64')

In [32]:
#merubah type data array
arr4_float = arr4.astype(np.float64)

In [33]:
arr4_float

array([0., 1., 2., 3., 4., 5., 6., 7., 8., 9.])

In [35]:
#membuat tipe data array sama dengan type yang lain
bilangan1 = np.arange(1,10)
tipe_wajib = np.array(list1, dtype = np.float64)

In [38]:
bilangan1.dtype

dtype('int32')

In [39]:
tipe_wajib.dtype

dtype('float64')

In [40]:
bilangan1_float = bilangan1.astype(tipe_wajib.dtype)

In [41]:
bilangan1_float.dtype

dtype('float64')

# Aritmatika pada ndarray

In [45]:
angka = np.array([[1,2,3],[6,7,8],[4,5,6]])
angka2 = np.array([[2,2,2],[3,3,3],[1,1,1]])

In [46]:
angka*2

array([[ 2,  4,  6],
       [12, 14, 16],
       [ 8, 10, 12]])

In [47]:
angka/2

array([[0.5, 1. , 1.5],
       [3. , 3.5, 4. ],
       [2. , 2.5, 3. ]])

In [48]:
angka**2

array([[ 1,  4,  9],
       [36, 49, 64],
       [16, 25, 36]], dtype=int32)

In [49]:
angka+angka2

array([[ 3,  4,  5],
       [ 9, 10, 11],
       [ 5,  6,  7]])

In [50]:
angka-angka2

array([[-1,  0,  1],
       [ 3,  4,  5],
       [ 3,  4,  5]])

In [51]:
2/angka

array([[2.        , 1.        , 0.66666667],
       [0.33333333, 0.28571429, 0.25      ],
       [0.5       , 0.4       , 0.33333333]])

In [52]:
angka2 > angka

array([[ True, False, False],
       [False, False, False],
       [False, False, False]])

# Slicing dasar

In [77]:
angka1d = np.arange(10)
angka1d

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [78]:
#mengambil 1 elemen sesuai indeks dari 0

angka1d[1]

1

In [79]:
#mengambil banyak angka

angka1d[1:5] #ambil indeks ke 1 sampai 4

array([1, 2, 3, 4])

In [82]:
angka1d[5:-1]

array([5, 6, 7, 8])

In [83]:
angka1d[7:]

array([7, 8, 9])

In [84]:
angka1d[5] = 13
angka1d

array([ 0,  1,  2,  3,  4, 13,  6,  7,  8,  9])

#### merubah hasil slice akan mempengaruhi array aslinya

In [112]:
#merubah hasil slicing array akan merubah array aslinya
#jadi hati-hati

angka_slice = angka1d[3:7]
angka_slice

array([7, 7, 7, 7])

In [89]:
angka_slice[:] = 7
angka_slice

array([7, 7, 7, 7])

In [90]:
#ikut berubah
angka1d

array([0, 1, 2, 7, 7, 7, 7, 7, 8, 9])

#### Gunakan fungsi .copy() supaya array aslinya tidak berubah

In [93]:
array_asli = np.random.randn(1,5)

In [94]:
array_asli

array([[-0.2497912 , -0.20654318,  0.20468144, -0.85617299, -1.03057447]])

In [96]:
#copy hasil slicing
array_edit = array_asli[:3].copy()
array_edit

array([[-0.2497912 , -0.20654318,  0.20468144, -0.85617299, -1.03057447]])

In [99]:
array_edit[:] = 6
array_edit

array([[6., 6., 6., 6., 6.]])

In [100]:
array_asli

array([[-0.2497912 , -0.20654318,  0.20468144, -0.85617299, -1.03057447]])

#### Slicing array 2d

In [101]:
arr2d = np.array([[1,2,3],[4,5,6],[7,8,9]])

In [102]:
arr2d[2]

array([7, 8, 9])

In [108]:
arr2d[0,2]

3

In [109]:
arr2d[0][2]

3

In [110]:
arr2d[1,2]

6

In [136]:
arr2d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [140]:
# mengambil elemen dalam baris
arr2d[:1,1:]

array([[2, 3]])

In [142]:
# mengambil elemen dalam 2 baris
arr2d[1:,:2]
#indeks dari 0
#baris 1 sampe akhir
#kolom awal sampe < 2

array([[4, 5],
       [7, 8]])

#### slicing dengan boolean

In [149]:
bil = arr2d >=5

In [150]:
bil

array([[False, False, False],
       [False,  True,  True],
       [ True,  True,  True]])

In [151]:
arr2d_dua = arr2d[bil].copy()

In [152]:
arr2d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [153]:
arr2d_dua

array([5, 6, 7, 8, 9])

In [156]:
#bisa ditulis seperti ini
arr2d_tiga = arr2d[arr2d >= 5]
arr2d_tiga

array([5, 6, 7, 8, 9])

In [157]:
nama = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
data = np.random.randn(7,4)

In [158]:
nama

array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'], dtype='<U4')

In [159]:
data

array([[ 1.32344831, -0.40416721, -0.23632758,  0.31562021],
       [-0.32424763,  0.28883012, -0.76265131, -0.83516505],
       [-1.87683686,  0.30681229, -1.45163544,  0.00237356],
       [ 0.13702944, -1.50075814, -0.99885924,  0.62802365],
       [ 0.67731197,  0.80725198, -1.62488965,  0.93526246],
       [ 0.5198388 ,  0.37427594, -0.24955499, -0.03001353],
       [ 1.2742483 , -0.00913127,  0.44271205,  1.42522963]])

In [160]:
nama == 'Bob'

array([ True, False, False,  True, False, False, False])

In [161]:
data[nama == 'Bob']

array([[ 1.32344831, -0.40416721, -0.23632758,  0.31562021],
       [ 0.13702944, -1.50075814, -0.99885924,  0.62802365]])

In [162]:
data[nama != 'Bob']

array([[-0.32424763,  0.28883012, -0.76265131, -0.83516505],
       [-1.87683686,  0.30681229, -1.45163544,  0.00237356],
       [ 0.67731197,  0.80725198, -1.62488965,  0.93526246],
       [ 0.5198388 ,  0.37427594, -0.24955499, -0.03001353],
       [ 1.2742483 , -0.00913127,  0.44271205,  1.42522963]])