### Indexing DataFrame

In [1]:
import pandas as pd
import numpy as np

In [2]:
obj = pd.Series(range(3), index = ['a','b','c'])
obj

a    0
b    1
c    2
dtype: int64

In [3]:
obj.index

Index(['a', 'b', 'c'], dtype='object')

In [4]:
obj.index[1]

'b'

In [5]:
#oleh karena indeks imutable sangat aman untuk berbagi index dengan data lain

label = pd.Index(np.arange(3))
label

Int64Index([0, 1, 2], dtype='int64')

In [6]:
pd.Series(np.random.randint(0,3,3), index = label)

0    2
1    2
2    1
dtype: int32

In [7]:
# Pada pandas bisa terdapat dua index yang sama

label2 = pd.Index(['jon','samsul','jon'])
pd.Series(np.random.randint(0,3,3), index = label2)

jon       0
samsul    1
jon       2
dtype: int32

In [8]:
label2  = label2.append(pd.Index(['sony','wahyu']))

In [9]:
label2

Index(['jon', 'samsul', 'jon', 'sony', 'wahyu'], dtype='object')

In [10]:
pd.Series(np.random.randint(0,3,5), index = label2)

jon       0
samsul    0
jon       1
sony      0
wahyu     1
dtype: int32

### Reindexing = menyusun ulang index
menggunakan method:
<ul>
    <li> reindex()
    <li> loc

In [11]:
# Pada Series
obj = pd.Series([10,20,30], index = ['c','a','b'])
obj

c    10
a    20
b    30
dtype: int64

In [12]:
obj2 = obj.reindex(['a','b','c','d'])
obj2

a    20.0
b    30.0
c    10.0
d     NaN
dtype: float64

In [20]:
# Pada DataFrame

frame = pd.DataFrame(np.arange(9).reshape((3,3)), index = ['b','a','c'], columns = ['Bdg','Sby','Jkt'])
frame

   Bdg  Sby  Jkt
b    0    1    2
a    3    4    5
c    6    7    8

In [30]:
frame = frame.reindex(['a','b','c'])

In [31]:
frame.reindex(columns = ['Jkt','Bdg','Sby'])

   Jkt  Bdg  Sby
a  5.0  3.0  4.0
b  2.0  0.0  1.0
c  8.0  6.0  7.0

In [36]:
# Lebih mudah menggunakan loc tapi tidak support missing variable
kota = ['Sby','Jkt','Bdg']
frame3 = frame.loc[['a','b','c'], kota]
frame3

   Sby  Jkt  Bdg
a  4.0  5.0  3.0
b  1.0  2.0  0.0
c  7.0  8.0  6.0

In [75]:
# Definition of radius
r = 192500

# Import radians function of math package
from math import radians

# Travel distance of Moon over 12 degrees. Store in dist.
phi = 12
dist = r * phi.radians()

# Print out dist
print(dist)

AttributeError: 'int' object has no attribute 'radians'

In [78]:
x = ["e","a","b"]
y = x[1:]
y

['a', 'b']

In [81]:
y[0] = "g"

In [82]:
x

['e', 'a', 'b']

In [83]:
x.pop(1)

'a'

In [84]:
list = [1,2,3,-2,-6,-4,5]

In [86]:
list.index(2)

1